.createRoom {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc6;
    flex-direction: column;
}

.createRoomInput {
    box-shadow: none !important;
}

.createRoomButton:hover,
.createRoomButton:active {
    background-color: rgba(0, 132, 255, 0.80);
}

.createRoomError {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.createRoomLoading {
    margin-top: 10px;
}
