_book/
/node_modules 
/assets/js/index.js
/database
/logs/*.log 
/dist
/cache
package-lock.json
.DS_Store
.vscode
.idea
.git
keychain.dms
.log
temp/
electron/dapps/lib/dist

ipfs-room/
release/
ipfs/
orbitdb/
projects/
data/
build/
