<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>16G1212</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Array.IO</string>
    <key>CFBundleDocumentTypes</key>
    <array/>
    <key>CFBundleExecutable</key>
    <string>nwjs</string>
    <key>CFBundleIconFile</key>
    <string>app.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.nw-builder.array.io</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Array.IO</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>Version 1.0.0</string>
    <key>CFBundleSignature</key>
    <string>NWJS</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Web site URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>arr</string>
          <string>array</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>FTP site URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ftp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>Local file URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>file</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTSDKBuild</key>
    <string>10.13</string>
    <key>DTSDKName</key>
    <string>macosx10.13</string>
    <key>DTXcode</key>
    <string>0920</string>
    <key>DTXcodeBuild</key>
    <string>9C40b</string>
    <key>LSFileQuarantineEnabled</key>
    <true/>
    <key>LSHasLocalizedDisplayName</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSAppleScriptEnabled</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>BrowserCrApplication</string>
    <key>NSSupportsAppNap</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSUserActivityTypes</key>
    <array>
      <string>NSUserActivityTypeBrowsingWeb</string>
    </array>
    <key>NSUserNotificationAlertStyle</key>
    <string>banner</string>
    <key>OSAScriptingDefinition</key>
    <string>scripting.sdef</string>
    <key>SCMRevision</key>
    <string>91395d81ed89c8c3e07a92ae139e8bf9f6328df7-</string>
    <key>UTExportedTypeDeclarations</key>
    <array/>
  </dict>
</plist>