<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>

	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic" rel="stylesheet">

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/icons.css" />
	<link rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container h-100 text-center">
		<div class="row align-items-center h-100">
			<div class="col">
				<h1 class="display-1">404</h1>
			</div>
		</div>
	</div>
</body>
</html>