#Chat-IPFS-app-body {
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#Chat-IPFS-app-container {
    display: flex;
    flex: 1;
}
.chatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
    flex: 1;
}
.chatLoadingBlock {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.chatError {
    color: red;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
