.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-user {
  height: 25px;
  width: 25px;
  background-image: url('../images/icons/user.svg');
}
.icon-settings {
  height: 25px;
  width: 25px;
  background-image: url('../images/icons/settings.svg');
}
.icon-bag {
  height: 25px;
  width: 25px;
  background-image: url('../images/icons/bag.svg');
}
.icon-purse {
  height: 25px;
  width: 25px;
  background-image: url('../images/icons/purse.svg');
}
.icon-console {
  height: 20px;
  width: 23px;
  background-image: url('../images/icons/console.svg');
}
.icon-up {
  height: 14px;
  width: 10px;
  background-image: url('../images/icons/up.svg');
}
.icon-home {
  height: 22px;
  width: 25px;
  background-image: url('../images/icons/home.svg');
}
.icon-app {
  height: 25px;
  width: 22px;
  background-image: url('../images/icons/app.svg');
}
