* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  font: 16px 'Open Sans', sans-serif;
  height: 100%;
  color: #252526;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Header
-----------------------------------------------------------------------------*/
header {
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 5;
  box-shadow: 0 2px 3px rgba(32, 32, 73, 0.05);
}
header .navbar {
  height: 100%;
}
header .navbar-home {
  height: 100%;
  flex: 0 0 62px;
  padding: 0;
  background: #fff;
}
header .navbar-home-link {
  display: block;
  height: 100%;
  cursor: pointer;
  text-align: center;
}
header .navbar-home-link .icon {
  margin: 50% 0 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .navbar-user-search {
  height: 100%;
}
header .navbar-user-search form {
  height: 100%;
  width: 100%;
}
header .navbar-user-search form .input-group {
  height: 100%;
}
header .navbar-user-search form .input-group .form-control,
header .navbar-user-search form .input-group .form-control:focus {
  border: 0;
  height: 100%;
  color: #252526;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
}
header .navbar-user-search form .input-group .form-control.visible,
header .navbar-user-search form .input-group .form-control:focus.visible {
  opacity: 1;
  visibility: visible;
}
header .navbar-user-search form .input-group-prepend button {
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  top: 50%;
  margin: 1px 0 0;
  cursor: pointer;
  background: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .navbar-user-search form .input-group-prepend button svg {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .navbar-user-search form .input-group-prepend button svg path {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
header .navbar-user-search form .input-group-prepend button svg.visible {
  opacity: 1;
  visibility: visible;
}
header .navbar-user-search form .input-group-prepend button:hover svg path {
  fill: #4686FF;
}
header .navbar-user-nav {
  padding-left: 0;
}
header .navbar-user-nav button {
  display: inline-block;
  border: 0;
  cursor: pointer;
  background: none;
  vertical-align: middle;
}
header .navbar-user-nav button svg {
  display: block;
}
header .navbar-user-nav button svg path {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
header .navbar-user-nav button:hover svg path {
  fill: #4686FF;
}
header .navbar-user-nav button + button {
  margin-left: 15px;
}
/* Middle
-----------------------------------------------------------------------------*/
main {
  display: flex;
  flex-grow: 1;
  flex: 1;
}
main .main {
  display: flex;
  flex: 1;
}
main .main aside {
  position: relative;
  width: 62px;
  height: 100%;
  padding: 7px 0;
  background: #FAFAFC;
}
main .main aside .apps-item,
main .main aside .pins-item {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
}
main .main aside .apps-item.active,
main .main aside .pins-item.active,
main .main aside .apps-item.focus,
main .main aside .pins-item.focus {
  background: #6CADDB;
}
main .main aside .apps-item.online:after,
main .main aside .pins-item.online:after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  top: -6px;
  right: -6px;
  border-radius: 50%;
  background: #4686FF;
}
main .main aside .apps-item .icns,
main .main aside .pins-item .icns {
  display: block;
  width: 35px;
  height: 35px;
  padding: 4px;
  margin: 0 auto;
  border-radius: 4px;
  background: #97BCD6 url('../images/icons/app.svg') no-repeat center;
  background-size: 60%;
}
main .main aside .apps-item .icns img,
main .main aside .pins-item .icns img {
  display: block;
  max-width: 100%;
}
main .main aside .pins .apps-item:last-child {
  border-bottom: 1px solid #BBD4E6;
}
main .main .content {
  position: relative;
  display: flex;
  flex: 1;
  padding: 10px 40px 40px;
  background: #F2F3F6;
}
main .main .content .title {
  font: 600 28px 'Montserrat', sans-serif;
  color: #252526;
  margin: 30px 0 30px;
}
main .main .content .apps-item {
  cursor: pointer;
  margin: 0 0 30px;
}
main .main .content .apps-item:hover {
  text-decoration: none;
}
main .main .content .apps-item-header {
  min-height: 120px;
  background-color: #CEE4F3;
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}
main .main .content .apps-item-body {
  padding: 15px;
  background: #fff;
  border-radius: 0 0 8px 8px;
}
main .main .content .apps-item-name {
  font: 500 18px 'Open Sans', sans-serif;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #252526;
}
main .main .content .apps-item-tags:after {
  display: table;
  content: '';
  clear: both;
}
main .main .content .apps-item-tags small {
  font: 11px 'Open Sans', sans-serif;
  color: #252526;
  display: block;
  float: left;
  overflow: hidden;
  padding: 4px 12px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #FAFAFC;
  border-radius: 12px;
}
main .main .content .apps-item-tags small + small {
  margin-left: 10px;
}
main .main .content .apps-item-tags small.custom {
  color: #4686FF;
  float: right;
  background: #DFEAFF;
}
main .main .content #views {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  z-index: 1;
  background: #fff url('../images/preloader.svg') no-repeat center;
}
main .main .content #views.show {
  display: block;
}
main .main .content #views iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
main .main .content-empty span {
  font-size: 28px;
  color: #BCD9EF;
}
main .main .content .view-code {
  position: fixed;
  margin: 0 auto;
  left: 60px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
main .main .content .view-code-panel {
  position: relative;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding: 0 30px 0 40px;
  background: #EFF9FF url('../images/icons/up.svg') no-repeat right 10px center;
  background-size: auto 50%;
}
main .main .content .view-code-panel span {
  font-size: 12px;
  display: block;
  color: #4686FF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .main .content .view-code-panel .icon {
  position: absolute;
}
main .main .content .view-code-panel .icon-console {
  left: 10px;
  top: 5px;
}
main .main .content .view-code-console {
  height: 0;
  color: #c3e3ff;
  overflow: auto;
  padding: 0 30px 0;
  opacity: 0;
  background: #163246;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
main .main .content .view-code-console p {
  margin: 0 0 15px;
}
main .main .content .view-code-console span.info {
  color: #28a745;
}
main .main .content .view-code-console span.debug {
  color: #007bff;
}
main .main .content .view-code-console span.error {
  color: #dc3545;
}
main .main .content .view-code-console span.warning {
  color: #ffc107;
}
main .main .content .view-code-console.open {
  height: 270px;
  opacity: 1;
  padding: 30px 30px 15px;
}
main .contextmenu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  min-width: 150px;
  padding: 8px 0;
  background: #fff;
  z-index: 3;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main .contextmenu.show {
  display: block;
}
main .contextmenu span {
  font: 16px 'Open Sans', sans-serif;
  display: block;
  color: #252526;
  height: 35px;
  padding: 0 20px;
  line-height: 35px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
main .contextmenu span:hover {
  background: #F2F3F6;
}
