@import 'variable.less';

* {
	margin: 0;
	padding: 0;
	outline: none !important
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 16px @font-opensans;
	height: 100%;
	color: @dark
}

.wrapper {
	display: flex;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	flex-direction: column;

	&.fixed {
		height: 100% !important
	}
}

.transition(@property: all, @delay: .15s, @duration: ease-in-out) {
    transition: @arguments;
}

.transform(@property: scale(1)) {
    transform: @property;
}

.selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}


/* Header
-----------------------------------------------------------------------------*/
header {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background: @white;
	z-index: 10;
	box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

	.navbar {
		height: 100%;

		&-home {
			height: 100%;
			flex: 0 0 62px;
			padding: 0;
			background: @white;

			&-link {
				display: block;
				height: 100%;
				cursor: pointer;
				text-align: center;
				
				svg {
					margin: 50% 0 0;
					.transform(translateY(-50%));

					path {
						.transition()
					}
				}

				&:hover {
					svg path {
						fill: #689BFA
					}
				}
			}
		}

		&-user {
			&-back {
				display: none;
				vertical-align: middle;
				
				button {
					height: 35px;
					cursor: pointer;
					line-height: 38px;
					background: none;
					padding: 0 15px;
					border: 0;
					border-right: 1px solid lighten(@lgray, 20%);
				}
			}

			&-uri {
				display: none;
				vertical-align: middle;
				height: 37px;
				padding: 0 15px;
				border-right: 1px solid lighten(@lgray, 20%);

				span {
					font: 14px @font-montserrat;
					color: @dgray;
					line-height: 38px;
					text-transform: uppercase
				}
			}

			&-search {
				height: 100%;
				padding-left: 0;

				form {
					height: 100%;
					width: 100%;

					.input {
						&-group {
							height: 100%;
		
							.form-control, .form-control:focus {
								font: 16px @font-montserrat;
								border: 0;
								height: 35px;
								color: @dark;
								margin: 12px 0 0;
								visibility: hidden;
								border-radius: 0;
							}
		
							&-append {
								button {
									position: relative;
									width: 30px;
									height: 30px;
									border: 0;
									top: 50%;
									margin: 1px 0 0;
									cursor: default;
									background: none;
									.transform(translateY(-50%));
	
									svg {
										position: absolute;
										top: 50%;
										left: 0;
										right: 0;
										margin: 0 auto;
										.transform(translateY(-50%));
	
										path {
											.transition()
										}
									}
	
									&:hover {
										svg {
											path {
												fill: @theme
											}
										}
									}
								}
							}
						}
						
						&-result {
							position: absolute;
							display: none;
							top: 100%;
							left: 0;
							right: 0;
							background: @white;
							border-top: 1px solid rgba(32, 32, 73, .05);
							box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

							&-name {
								padding: 6px 15px;
								background: @gray;

								span {
									font: 500 13px @font-opensans;
									display: block;
									color: fade(@dgray, 50%);
									text-transform: uppercase;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis
								}
							}

							&-item {
								padding: 10px 0;
								margin: 0;

								.item-name,
								.item-uri,
								.item-type {
									overflow: hidden;

									span {
										display: block;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis
									}
								}

								.item-name {
									@media (max-width: 991px) {
										margin-bottom: 10px
									}

									span, img {
										font: 16px @font-montserrat;
										display: inline-block;
										color: @dark;
										vertical-align: middle;
									}

									img {
										max-width: 42px;
										margin-right: 10px
									}
								}

								.item-uri {
									span {
										font: 14px @font-montserrat;
										color: fade(@dgray, 50%);
										display: block;
										padding-left: 5px
									}
								}

								.item-type {
									span {
										font: 12px @font-opensans;
										color: @dgray;
										text-transform: uppercase
									}
								}
							}
						}
					}
				}
			}

			&-nav {
				padding-left: 0;

				.dropdown {
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px
				}

				& > button {
					position: relative;
					display: inline-block;
					border: 0;
					cursor: default;
					background: none;
					vertical-align: middle;

					&.notify {
						&:before {
							position: absolute;
							content: '';
							width: 8px;
							height: 8px;
							top: 0;
							right: 0;
							border-radius: 50%;
							background: @theme;
							box-shadow: 0 0 4px fade(@theme, 55%)
						}
					}

					span {
						font: 500 14px @font-opensans;
						color: @dgray;
						vertical-align: middle
					}

					svg {
						display: inline-block;
						vertical-align: middle;

						path, circle {
							.transition()
						}
					}

					&:hover {
						svg {
							path {
								fill: @theme
							}
						}
					}

					&.inverse {
						&:hover {
							svg {
								circle {
									fill: @theme
								}
								path {
									fill: @white
								}
							}
						}
					}
					
					& + button {
						margin-left: 15px;
					}
				}
			}
		}
	}
}


/* Middle
-----------------------------------------------------------------------------*/
main {
	display: flex;
	flex-grow: 1;
	flex: 1;
	padding: 60px 0 0;
	 
	.main {
		display: flex;
		flex: 1;

		aside {
			position: relative;
			width: 62px;
			height: 100%;
			padding: 0 0 60px;
			background: @light;

			.apps, .pins {
				&-item {
					position: relative;
					height: 42px;
					margin: 15px 0 0;
					cursor: default;
					 
					&.active, &.focus {
						&:before {
							position: absolute;
							content: '';
							width: 3px;
							top: 0;
							left: 0;
							bottom: 0;
							background: @theme
						}
					}

					&.focus {
						&:before {
							background: @green
						}
					}

					&.online {
						&:after {
							position: absolute;
							content: '';
							height: 12px;
							width: 12px;
							top: -6px;
							right: -6px;
							border-radius: 50%;
							background: @theme;
						} 
					}

					.icns {
						display: block;
						width: 42px;
						height: 42px;
						margin: 0 auto;
						border-radius: 6px;
						
						img {
							display: block;
							max-width: 100%;
						}
					}

					&.dragstart {
						height: 0;

						.icns {
							position: fixed;
							z-index: 5;
							margin: 0 auto;
							box-shadow: 0 2px 3px rgba(32, 32, 73, .15);
						}
					}
				}
				
				.dragover {
					position: relative;
					height: 42px;
					margin: 15px 0 0;
					background: url('../images/drag.png') no-repeat center
				}

				*:last-child {
					margin-bottom: 15px
				}
			}

			.pins {
				border-bottom: 1px solid #E9EEF5;
			}

			.indicator {
				position: absolute;
				left: 0;
				right: 0;
				width: 15px;
				margin: 0 auto;
				bottom: 15px;

				polygon:first-child {
					fill: @theme
				}
			}
		}
	
		.content {
			position: relative;
			display: flex;
			flex: 1;
			padding: 10px 40px 40px;
			background: @gray;

			.title {
				font: 600 28px @font-montserrat;
				color: @dark;
				margin: 30px 0 30px;

				&.light {
					font: 500 26px @font-montserrat;
				}
			}

			.navigate {
				height: 75px;
				background: #FAFAFC;
				margin: -10px -56px 10px -55px;
				border-left: 1px solid @gray;

				.nav {
					height: 100%;

					&-item {
						height: 100%;

						button {
							font: 12px @font-montserrat;
							color: @dgray;
							height: 100%;
							text-transform: uppercase;
							border-radius: 0;
							border-bottom: 3px solid transparent;

							&.active, &:hover {
								color: @theme;
							}

							&.active {
								border-bottom-color: @theme
							}
						}
					}
				}
			}

			.category {
				.item {
					display: none;

					&.active {
						display: block
					}
					
					.sortby {
						& > span {
							font: 500 14px @font-opensans;
							display: inline-block;
							color: @dgray;
							margin-right: 10px
						}

						.dropdown {
							& > button {
								border-color: #E3E5E8;
								background: none
							}
							 
						}
					}
				}
			}

			.apps {
				&-item {
					cursor: pointer;
					margin: 0 0 30px;

					&:hover {
						text-decoration: none
					}

					&-header {
						min-height: 120px;
						background-color: #CEE4F3;
						background-position: center;
						background-size: cover;
						border-radius: 8px 8px 0 0
					}

					&-body {
						padding: 15px;
						background: @white;
						border-radius: 0 0 8px 8px
					}

					&-name {
						font: 500 18px @font-opensans;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: @dark
					}

					&-tags {
						&:after {
							display: table;
							content: '';
							clear: both;
						}

						small {
							font: 11px @font-opensans;
							color: @dark;
							display: block;
							float: left;
							overflow: hidden;
							padding: 4px 12px;
							text-transform: uppercase;
							text-overflow: ellipsis;
							white-space: nowrap;
							background: @light;
							border-radius: 12px;

							& + small {
								margin-left: 10px
							}

							&.custom {
								color: @theme;
								float: right;
								background: @blue
							}
						}
					}
				}
			}

			.preview {
				margin: 30px 0;

				figure {
					& > img {
						float: left;
						margin-right: 20px;
					}

					figcaption {
						overflow: hidden;

						.title {
							display: inline-block;
							margin: 0;
							vertical-align: middle
						}

						.icons {
							display: inline-block;
							vertical-align: middle;

							img {
								display: inline-block;
								margin: 0 0 0 10px;
								vertical-align: middle
							}
						}

						.tags {
							margin: 10px 0 0;

							&:after {
								display: table;
								content: '';
								clear: both;
							}
	
							small {
								font: 11px @font-opensans;
								color: @dark;
								display: block;
								float: left;
								overflow: hidden;
								padding: 4px 12px;
								text-transform: uppercase;
								text-overflow: ellipsis;
								white-space: nowrap;
								background: @white;
								border-radius: 12px;
	
								& + small {
									margin-left: 10px
								}
	
								&.custom {
									color: @theme;
									float: right;
									background: @blue
								}
							}
						}

						.options {
							margin: 15px 0;

							dl {
								font: 14px @font-montserrat;
								margin-bottom: 0;

								& + dl {
									margin-top: 10px
								}

								dt {
									font-weight: 400;
									color: @dgray
								}
								dd {
									padding-left: 0;
									margin: 0
								}
							}
						}

						.action {
							.btn {
								min-width: 140px;
							}
						}
					}
				}

				.carousel {
					&-wrapper {
						position: relative;
						margin: 40px 0 30px;
					}

					&-cell {
						margin-right: 20px;
					}

					&-nav {
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						height: 0;

						button {
							position: absolute;
							display: block;
							height: 32px;
							width: 32px;
							top: -15px;
							left: 15px;
							border: 0;
							cursor: pointer;
							background: none;

							svg {
								path, circle {
									.transition()
								}
							}

							& + button {
								left: auto;
								right: 15px;

								svg {
									.transform(rotate(-180deg))
								}
							}

							&:hover {
								svg {
									path {
										fill: @dark
									}

									circle {
										stroke: @dark
									}
								}
							}
						}
					}
				}

				.introtext {
					font: 14px @font-opensans
				}

				.certificate {
					margin: 40px 0 10px;

					.title {
						font-size: 20px;
						margin-top: 0
					}

					.images {
						img {
							margin: 0 50px 30px 0
						}
					}
				}

				.description {
					font: 14px @font-opensans;
					margin: 0 0 40px;

					ul {
						li {
							display: block;
							list-style: none;
							margin: 0 0 15px;

							&:before {
								content: '-'
							}
						}
					}
				}

				.reviews {
					&-head {
						margin-bottom: 15px;

						.title {
							font-size: 20px;
							display: inline-block;
							margin: 0;
							vertical-align: middle
						}
	
						.status {
							font: 15px @font-opensans;
							color: @dgray;
							display: inline-block;
							vertical-align: middle;

							.up, .down {
								position: relative;
								padding-left: 30px;
								margin-left: 20px;

								&:after {
									position: absolute;
									content: '';
									top: 0;
									left: 0;
									height: 18px;
									width: 18px;
									background: url('../images/icons/dir.svg') no-repeat center;
								}
							}

							.down {
								&:after {
									.transform(rotate(-180deg))
								}
							}
						}
					}
					 
					.media {
						& + .media {
							padding-top: 20px;
							border-top: 1px solid #E3E5E8;
						}

						&-body {
							font: 14px @font-opensans;
						}

						&-head {
							h5 {
								font: 400 16px @font-montserrat;
								position: relative;
								padding-right: 30px;

								&:after {
									position: absolute;
									content: '';
									top: 0;
									right: 0;
									height: 18px;
									width: 18px;
									background: url('../images/icons/dir.svg') no-repeat center;
									.transform(scale(.75))
								}

								&.false {
									&:after {
										transform: scale(.75) rotate(-180deg);
									}
								}
							}

							.date {
								font: 200 12px @font-montserrat;
								color: @dgray
							}
						}
					}
				}

				.show-all {
					display: block;
					margin: 20px auto 0
				}
			}

			.views {
				position: absolute;
				display: none;
				left: 0;
				right: 0;
				top: 0;
				bottom: 30px;
				z-index: 5;
				background: @white url('../images/preloader.svg') no-repeat center;

				&.show {
					display: block;
					background-image: none
				}

				iframe {
					height: 100%;
					width: 100%;
					border: 0
				}
			}

			&-empty {
				span {
					font-size: 28px;
					color: @dark;
				}
			}

			.view-code {
				position: fixed;
				margin: 0 auto; 
				left: 60px;
				right: 0;
				bottom: 0;
				z-index: 10;
				  
				&-panel {
					position: relative;
					cursor: pointer;
					height: 30px;
					line-height: 30px;
					padding: 0 30px 0 40px;
					background: #EFF9FF url('../images/icons/up.svg') no-repeat right 10px center;
					background-size: auto 50%;

					span {
						font-size: 12px;
						display: block;
						color: @theme;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.icon {
						position: absolute;
	
						&-console {
							left: 10px;
							top: 5px;
						}
					}
				}

				&-console {
					height: 0;
					color: #c3e3ff;
					overflow: auto;
					padding: 0 30px 0;
					opacity: 0;
					z-index: 10;
					background: #163246;
					.transition();

					p {
						margin: 0 0 15px;
					}

					span {
						&.info { color: #28a745 }
						&.debug { color: #007bff }
						&.error { color: #dc3545 }
						&.warning { color: #ffc107 }
					}

					&.visible {
						height: 270px;
						opacity: 1;
						padding: 30px 30px 15px;
					}
				}
			}
		}
	}

	.contextmenu {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		min-width: 150px;
		padding: 8px 0;
		background: @white;
		z-index: 25;
		border-radius: 6px;
		box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

		&.show {
			display: block
		}

		span {
			display: block;
			font: 14px @font-opensans;
            color: @dgray;
			padding: 7px 20px;
			cursor: default;
			white-space: nowrap;
			.transition(all, .1s);
			.selection();

			&:hover {
				background: @gray
			}

			&:active {
				color: @white;
				background: @theme
			}
		}
	}

	.notifications {
		position: fixed;
		top: 60px;
		right: -350px;
		bottom: 0;
		width: 350px;
		opacity: 0;
		visibility: hidden;
		overflow: auto;
		background: @white;
		z-index: 5;
		border-top: 1px solid rgba(32, 32, 73, .05);
		box-shadow: -1px 2px 3px rgba(32, 32, 73, .05);
		.transition();

		&::-webkit-scrollbar {
			width: 0;
		}

		&.visible {
			opacity: 1;
			right: 0;
			visibility: visible;
		}

		&-empty {
			display: none;
			padding: 30px 15px;
			text-align: center;

			span {
				font: 14px @font-opensans;
				color: fade(@dgray, 50%);
			}
		}

		&-title {
			display: table;
			padding: 20px 15px;
			
			strong {
				font: 600 20px @font-montserrat;
				display: table-cell;
				width: 100%;
				padding-right: 15px
			}

			button {
				display: table-cell;
				width: 100%;
				border: 0;
				background: none;

				svg {
					path {
						.transition()
					}
				}

				&:hover {
					svg {
						path {
							fill: @dgray
						}
					}
				}
			}
		}

		&-name {
			display: table;
			padding: 3px 15px;
			background: @gray;

			span, button {
				display: table-cell;
				width: 100%;
				vertical-align: middle
			}

			span {
				font: 600 12px @font-montserrat;
				color: @dgray;
				text-transform: uppercase
			}

			button {
				border: 0;
				background: none;

				svg {
					width: 11px;
					path {
						.transition();
					}
				}

				&:hover {
					svg {
						path {
							fill: @dgray
						}
					}
				}
			}
		}

		&-item {
			padding: 15px 0;

			& + .notifications-item {
				border-top: 1px solid @gray;
			}

			&-title {
				padding: 0 0 10px;
				margin: 0;

				.item {
					&-name, &-time {
						overflow: hidden;
						 
						span, small {
							display: block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis
						}

						span, img {
							font: 16px @font-montserrat;
							display: inline-block;
							vertical-align: middle;
							color: @dark;
							max-width: 130px;
						}

						img {
							max-width: 42px;
							margin-right: 10px
						}
					}

					&-time {
						padding-top: 10px;
						
						small {
							font: 12px @font-opensans;
							color: fade(@dgray, 50%);
						}
					}
				}
			}

			&-body {
				padding: 0 15px;

				span {
					font: 14px @font-opensans;
					color: fade(@dgray, 50%);
				}
			}
		}
	}
}