@theme: #4686FF;

@font-opensans: 'Open Sans', sans-serif;
@font-montserrat: 'Montserrat', sans-serif;

@dark : #252526;
@light: #FAFAFC;
@white: #fff;
@gray : #F2F3F6;
@altg : #7B8DA7;
@green: #42D286;

* {
	margin: 0;
	padding: 0;
	outline: none !important
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 16px @font-opensans;
	height: 100%;
	color: @dark
}

.wrapper {
	display: flex;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	flex-direction: column;

	&.fixed {
		height: 100% !important
	}
}

.transition(@property: all, @delay: .15s, @duration: ease-in-out) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}

.transform(@property: scale(1)) {
    -webkit-transform: @property;
    -moz-transform: @property;
    -ms-transform: @property;
    transform: @property;
}

.selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Header
-----------------------------------------------------------------------------*/
header {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background: @white;
	z-index: 10;
	box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

	.navbar {
		height: 100%;

		&-home {
			height: 100%;
			flex: 0 0 62px;
			padding: 0;
			background: @white;

			&-link {
				display: block;
				height: 100%;
				cursor: pointer;
				text-align: center;
				
				.icon {
					margin: 50% 0 0;
					.transform(translateY(-50%));
				}
			}
		}

		&-user {
			&-search {
				height: 100%;

				form {
					height: 100%;
					width: 100%;

					.input {
						&-group {
							height: 100%;
		
							.form-control, .form-control:focus {
								font: 16px @font-montserrat;
								border: 0;
								height: 35px;
								color: @dark;
								margin: 12px 0 0 15px;
								visibility: hidden;
								border-left: 1px solid fade(@altg, 30%);
								border-radius: 0;
							}
	
							&-prepend {
								height: 100%;
								display: none;
	
								span {
									font: 14px @font-montserrat;
									line-height: 60px;
									color: @altg;
									text-transform: uppercase
								}
							}
		
							&-append {
								button {
									position: relative;
									width: 30px;
									height: 30px;
									border: 0;
									top: 50%;
									margin: 1px 0 0;
									cursor: default;
									background: none;
									.transform(translateY(-50%));
	
									svg {
										position: absolute;
										top: 50%;
										left: 0;
										right: 0;
										margin: 0 auto;
										.transform(translateY(-50%));
	
										path {
											.transition()
										}
									}
	
									&:hover {
										svg {
											path {
												fill: @theme
											}
										}
									}
								}
							}
						}
						
						&-result {
							position: absolute;
							display: none;
							top: 100%;
							left: 0;
							right: 0;
							background: @white;
							border-top: 1px solid rgba(32, 32, 73, .05);
							box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

							&-name {
								padding: 6px 15px;
								background: @gray;

								span {
									font: 500 13px @font-opensans;
									display: block;
									color: fade(@altg, 50%);
									text-transform: uppercase;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis
								}
							}

							&-item {
								padding: 10px 0;
								margin: 0;

								.item-name,
								.item-uri,
								.item-type {
									overflow: hidden;

									span {
										display: block;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis
									}
								}

								.item-name {
									@media (max-width: 991px) {
										margin-bottom: 10px
									}

									span, img {
										font: 16px @font-montserrat;
										display: inline-block;
										color: @dark;
										vertical-align: middle;
									}

									img {
										max-width: 42px;
										margin-right: 10px
									}
								}

								.item-uri {
									span {
										font: 14px @font-montserrat;
										color: fade(@altg, 50%);
										display: block;
										padding-left: 5px
									}
								}

								.item-type {
									span {
										font: 12px @font-opensans;
										color: @altg;
										text-transform: uppercase
									}
								}
							}
						}
					}
				}
			}

			&-nav {
				padding-left: 0;

				.dropdown {
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px
				}

				& > button {
					position: relative;
					display: inline-block;
					border: 0;
					cursor: default;
					background: none;
					vertical-align: middle;

					&.notify {
						&:before {
							position: absolute;
							content: '';
							width: 8px;
							height: 8px;
							top: 0;
							right: 0;
							border-radius: 50%;
							background: @theme;
							box-shadow: 0 0 4px fade(@theme, 55%)
						}
					}

					span {
						font: 500 14px @font-opensans;
						color: @altg;
						vertical-align: middle
					}

					svg {
						display: inline-block;
						vertical-align: middle;

						path, circle {
							.transition()
						}
					}

					&:hover {
						svg {
							path {
								fill: @theme
							}
						}
					}

					&.inverse {
						&:hover {
							svg {
								circle {
									fill: @theme
								}
								path {
									fill: @white
								}
							}
						}
					}
					
					& + button {
						margin-left: 15px;
					}
				}
			}
		}
	}
}


/* Middle
-----------------------------------------------------------------------------*/
main {
	display: flex;
	flex-grow: 1;
	flex: 1;
	padding: 60px 0 0;
	 
	.main {
		display: flex;
		flex: 1;

		aside {
			position: relative;
			width: 62px;
			height: 100%;
			padding: 0 0 60px;
			background: @light;

			.apps, .pins {
				&-item {
					position: relative;
					height: 42px;
					margin: 15px 0 0;
					cursor: default;
					 
					&.active, &.focus {
						&:before {
							position: absolute;
							content: '';
							width: 3px;
							top: 0;
							left: 0;
							bottom: 0;
							background: @theme
						}
					}

					&.focus {
						&:before {
							background: @green
						}
					}

					&.online {
						&:after {
							position: absolute;
							content: '';
							height: 12px;
							width: 12px;
							top: -6px;
							right: -6px;
							border-radius: 50%;
							background: @theme;
						} 
					}

					.icns {
						display: block;
						width: 42px;
						height: 42px;
						margin: 0 auto;
						border-radius: 6px;
						
						img {
							display: block;
							max-width: 100%;
						}
					}

					&.dragstart {
						height: 0;

						.icns {
							position: fixed;
							z-index: 5;
							margin: 0 auto;
							box-shadow: 0 2px 3px rgba(32, 32, 73, .15);
						}
					}
				}
				
				.dragover {
					position: relative;
					height: 42px;
					margin: 15px 0 0;
					background: url('../images/drag.png') no-repeat center
				}

				*:last-child {
					margin-bottom: 15px
				}
			}

			.pins {
				border-bottom: 1px solid #E9EEF5;
			}

			.indicator {
				position: absolute;
				left: 0;
				right: 0;
				width: 15px;
				margin: 0 auto;
				bottom: 15px;

				polygon:first-child {
					fill: @theme
				}
			}
		}
	
		.content {
			position: relative;
			display: flex;
			flex: 1;
			padding: 10px 40px 40px;
			background: @gray;

			.title {
				font: 600 28px @font-montserrat;
				color: @dark;
				margin: 30px 0 30px
			}

			.apps {
				&-item {
					cursor: pointer;
					margin: 0 0 30px;

					&:hover {
						text-decoration: none
					}

					&-header {
						min-height: 120px;
						background-color: #CEE4F3;
						background-position: center;
						background-size: cover;
						border-radius: 8px 8px 0 0
					}

					&-body {
						padding: 15px;
						background: @white;
						border-radius: 0 0 8px 8px
					}

					&-name {
						font: 500 18px @font-opensans;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: @dark
					}

					&-tags {
						&:after {
							display: table;
							content: '';
							clear: both;
						}

						small {
							font: 11px @font-opensans;
							color: @dark;
							display: block;
							float: left;
							overflow: hidden;
							padding: 4px 12px;
							text-transform: uppercase;
							text-overflow: ellipsis;
							white-space: nowrap;
							background: @light;
							border-radius: 12px;

							& + small {
								margin-left: 10px
							}

							&.custom {
								color: @theme;
								float: right;
								background: #DFEAFF
							}
						}
					}
				}
			}

			.views {
				position: absolute;
				display: none;
				left: 0;
				right: 0;
				top: 0;
				bottom: 30px;
				z-index: 1;
				background: @white url('../images/preloader.svg') no-repeat center;

				&.show {
					display: block
				}

				iframe {
					height: 100%;
					width: 100%;
					border: 0
				}
			}

			&-empty {
				span {
					font-size: 28px;
					color: #BCD9EF;
				}
			}

			.view-code {
				position: fixed;
				margin: 0 auto; 
				left: 60px;
				right: 0;
				bottom: 0;
				z-index: 2;
				  
				&-panel {
					position: relative;
					cursor: pointer;
					height: 30px;
					line-height: 30px;
					padding: 0 30px 0 40px;
					background: #EFF9FF url('../images/icons/up.svg') no-repeat right 10px center;
					background-size: auto 50%;

					span {
						font-size: 12px;
						display: block;
						color: @theme;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.icon {
						position: absolute;
	
						&-console {
							left: 10px;
							top: 5px;
						}
					}
				}

				&-console {
					height: 0;
					color: #c3e3ff;
					overflow: auto;
					padding: 0 30px 0;
					opacity: 0;
					background: #163246;
					.transition();

					p {
						margin: 0 0 15px;
					}

					span {
						&.info { color: #28a745 }
						&.debug { color: #007bff }
						&.error { color: #dc3545 }
						&.warning { color: #ffc107 }
					}

					&.visible {
						height: 270px;
						opacity: 1;
						padding: 30px 30px 15px;
					}
				}
			}
		}
	}

	.contextmenu {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		min-width: 150px;
		padding: 8px 0;
		background: @white;
		z-index: 25;
		border-radius: 6px;
		box-shadow: 0 2px 3px rgba(32, 32, 73, .05);

		&.show {
			display: block
		}

		span {
			display: block;
			font: 14px @font-opensans;
            color: @altg;
			padding: 7px 20px;
			cursor: default;
			white-space: nowrap;
			.transition(all, .1s);
			.selection();

			&:hover {
				background: @gray
			}

			&:active {
				color: @white;
				background: @theme
			}
		}
	}

	.notifications {
		position: fixed;
		top: 60px;
		right: -350px;
		bottom: 0;
		width: 350px;
		opacity: 0;
		visibility: hidden;
		overflow: auto;
		background: @white;
		z-index: 5;
		border-top: 1px solid rgba(32, 32, 73, .05);
		box-shadow: -1px 2px 3px rgba(32, 32, 73, .05);
		.transition();

		&::-webkit-scrollbar {
			width: 0;
		}

		&.visible {
			opacity: 1;
			right: 0;
			visibility: visible;
		}

		&-empty {
			display: none;
			padding: 30px 15px;
			text-align: center;

			span {
				font: 14px @font-opensans;
				color: fade(@altg, 50%);
			}
		}

		&-title {
			display: table;
			padding: 20px 15px;
			
			strong {
				font: 600 20px @font-montserrat;
				display: table-cell;
				width: 100%;
				padding-right: 15px
			}

			button {
				display: table-cell;
				width: 100%;
				border: 0;
				background: none;

				svg {
					path {
						.transition()
					}
				}

				&:hover {
					svg {
						path {
							fill: @altg
						}
					}
				}
			}
		}

		&-name {
			display: table;
			padding: 3px 15px;
			background: @gray;

			span, button {
				display: table-cell;
				width: 100%;
				vertical-align: middle
			}

			span {
				font: 600 12px @font-montserrat;
				color: @altg;
				text-transform: uppercase
			}

			button {
				border: 0;
				background: none;

				svg {
					width: 11px;
					path {
						.transition();
					}
				}

				&:hover {
					svg {
						path {
							fill: @altg
						}
					}
				}
			}
		}

		&-item {
			padding: 15px 0;

			& + .notifications-item {
				border-top: 1px solid @gray;
			}

			&-title {
				padding: 0 0 10px;
				margin: 0;

				.item {
					&-name, &-time {
						overflow: hidden;
						 
						span, small {
							display: block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis
						}

						span, img {
							font: 16px @font-montserrat;
							display: inline-block;
							vertical-align: middle;
							color: @dark;
							max-width: 130px;
						}

						img {
							max-width: 42px;
							margin-right: 10px
						}
					}

					&-time {
						padding-top: 10px;
						
						small {
							font: 12px @font-opensans;
							color: fade(@altg, 50%);
						}
					}
				}
			}

			&-body {
				padding: 0 15px;

				span {
					font: 14px @font-opensans;
					color: fade(@altg, 50%);
				}
			}
		}
	}
}