.selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn {
  font: 12px 'Montserrat', sans-serif;
  position: relative;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none !important;
  text-decoration: none !important;
}
.btn-link {
  font: 500 14px 'Open Sans', sans-serif;
  color: #AAB4BF;
  text-transform: none;
}
.btn-link.btn-corner:after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  top: 50%;
  right: 0;
  background: url('../images/icons/corner.svg') no-repeat center top;
  transform: translateY(-50%);
}
.btn-link:hover {
  color: #AAB4BF;
}
.btn-link:hover:after {
  background-position: center bottom;
}
.btn-secondary {
  color: #4686FF;
  background: #DFEAFF;
}
.btn-secondary:hover,
.btn-secondary.hover,
.btn-secondary:active {
  color: #4686FF !important;
  background: #CDDDFC !important;
}
.btn-primary {
  color: #fff;
  background: #4686FF;
}
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:active {
  color: #fff !important;
  background: #689BFA !important;
}
.btn-light {
  color: #AAB4BF;
  background: #fff;
}
.btn-light:hover,
.btn-light.hover,
.btn-light:active {
  color: #fff !important;
  background: #AAB4BF !important;
}
.btn-outline-light {
  color: #c7ced5;
  border: 1px solid #d6dbe0;
  background: none;
}
.btn-outline-light:hover,
.btn-outline-light.hover,
.btn-outline-light:active {
  color: #AAB4BF !important;
  border-color: #AAB4BF !important;
  background: none !important;
}
.form-control:focus {
  box-shadow: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.dropdown > button {
  position: relative;
  font: 12px 'Open Sans', sans-serif;
  color: #7B8DA7;
  background: #fff;
  cursor: default;
  text-transform: uppercase;
  border: 1px solid #F2F3F6;
  padding: 5px 35px 5px 20px;
  border-radius: 17px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.dropdown > button:after {
  position: absolute;
  content: '';
  height: 6px;
  width: 11px;
  top: 50%;
  right: 15px;
  margin: -2px 0 0;
  background: url('../images/icons/arrow.svg') no-repeat center;
}
.dropdown-menu {
  border: 0;
  z-index: 15;
  min-width: 100%;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(32, 32, 73, 0.05);
}
.dropdown-item {
  font: 12px 'Open Sans', sans-serif;
  color: #7B8DA7;
  position: relative;
  cursor: default;
  padding: 7px 20px;
  background: none;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.dropdown-item .dropdown-menu {
  position: absolute;
  top: 0;
  left: auto;
  right: 100%;
  border-top-right-radius: 0;
}
.dropdown-item:hover {
  color: #7B8DA7;
  background: #F2F3F6;
}
.dropdown-item:hover > .dropdown-menu {
  display: block;
}
.dropdown-item:active {
  color: #7B8DA7;
  background: #F2F3F6;
}
.dropdown.show > button:after {
  transform: rotate(-180deg);
}
.dropdown.show > .dropdown-menu {
  display: block;
}
.modal {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}
.modal.show {
  opacity: 1;
  visibility: visible;
  background: rgba(70, 134, 255, 0.7);
}
.modal-content {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
.modal-header {
  color: #4686FF;
}
.modal-header .close {
  opacity: 1;
}
.modal-header .close span {
  font-weight: 100;
  font-size: 30px;
  color: #4686FF;
}
.modal-body {
  color: #4686FF;
}
