@theme: #4686FF;

@font-opensans: 'Open Sans', sans-serif;
@font-montserrat: 'Montserrat', sans-serif;

@dark : #252526;
@light: #FAFAFC;
@white: #fff;
@gray : #F2F3F6;
@altg : #7B8DA7;
@green: #42D286;

.transition(@property: all, @delay: .15s, @duration: ease-in-out) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}

.transform(@property: scale(1)) {
    -webkit-transform: @property;
    -moz-transform: @property;
    -ms-transform: @property;
    transform: @property;
}

.selection {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
    font: 12px @font-montserrat;
    position: relative;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 17px;

    &:hover, &:focus, &:active {
        box-shadow: none !important;
        text-decoration: none !important
    }

    &-link {
        font: 500 14px @font-opensans;
        color: #AAB4BF;
        text-transform: none;

        &.btn-corner {
            &:after {
                position: absolute;
                content: '';
                height: 12px;
                width: 12px;
                top: 50%;
                right: 0;
                background: url('../images/icons/corner.svg') no-repeat center top;
                .transform(translateY(-50%))
            }
        }

        &:hover {
            color: #AAB4BF;

            &:after {
                background-position: center bottom
            }
        }
    }

    &-secondary {
        color: @theme;
        background: #CEE4F3;

        &:hover, &.hover {
            color: #fff;
            background: @theme
        }

        &:active {
            background: @theme !important
        }
    }

    &-primary {
        color: @white;
        background: @theme;

        &:hover, &.hover {
            color: @white;
            background: #689BFA
        }

        &:active {
            background: #689BFA !important
        }
    }
}

.form-control {
    &:focus {
        box-shadow: none
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 20;
    
    & > button {
        position: relative;
        font: 12px @font-opensans;
        color: @altg;
        background: @white;
        cursor: default;
        text-transform: uppercase;
        border: 1px solid @gray;
        padding: 5px 35px 5px 20px;
        border-radius: 17px;
        .selection();

        &:after {
            position: absolute;
            content: '';
            height: 6px;
            width: 11px;
            top: 50%;
            right: 15px;
            margin: -2px 0 0;
            background: url('../images/icons/arrow.svg') no-repeat center
        }
    }

    &-menu {
        border: 0;
        z-index: 15;
        min-width: 100%;
        border-radius: 6px;
        background: @white;
		box-shadow: 0 2px 3px rgba(32, 32, 73, .05);
    }

    &-item {
        position: relative;
        cursor: default;
        padding: 0;
        background: none;
        text-transform: uppercase;
         
        .dropdown-menu {
            position: absolute;
            top: 0;
            left: auto;
            right: 100%;
            border-top-right-radius: 0
        }

        span {
            display: block;
            font: 12px @font-opensans;
            color: @altg;
            padding: 7px 20px;
            .selection();
             
            &:hover {
                background: @gray;
            }

            &:active {
                color: @white;
                background: @theme;
            }
        }

        &:hover {
            background: @gray;

            & > .dropdown-menu {
                display: block
            }
        }

        &:active {
            background: @gray;
        }
    }

    &.show {
        & > button {
            &:after {
                .transform(rotate(-180deg))
            }
        }

        & > .dropdown-menu {
            display: block;
        }
    }
}

.modal {
    display: block;
    opacity: 0;
    visibility: hidden;
    .transition();

    &.show {
        opacity: 1;
        visibility: visible;
        background: fade(@theme, 70%);
    }

	&-content {
		border-radius: 0;
		box-shadow: none;
		border: 0
	}

	&-header {
		color: @theme;

		.close {
			opacity: 1;
			
			span {
				font-weight: 100;
				font-size: 30px;
				color: @theme;
			}
		}
	}

	&-body {
		color: @theme;
	}
}