<header>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col navbar-home">
                <div class="navbar-home-link" v-on:click="index" data-title="Home" ref="home"><i class="icon icon-home"></i></div>
            </div>

            <div class="col navbar-user">
                <div class="row h-100 align-items-center">
                    <div class="col-auto navbar-user-title" ref="pagetitle">Home</div>

                    <div class="col navbar-user-search">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend" v-bind:class="{visible: visible}"><span>uri:</span></div>

                                <input type="text" class="form-control" v-bind:class="{visible: visible}" ref="search">

                                <div class="input-group-append">
                                    <button type="button" v-on:click="search">
                                        <img src="images/icons/search.svg" class="svg visible" alt="...">
                                        <img src="images/icons/close.svg" class="svg" alt="...">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-auto navbar-user-nav">
                        <div class="dropdown">
                            <button type="button">mainnet</button>
                                    
                            <div class="dropdown-menu">
                                <div class="dropdown-item"><span>Mainnet</span></div>
                                <div class="dropdown-item"><span>Mynet</span></div>
                                <div class="dropdown-item"><span>Testnet</span>

                                    <div class="dropdown-menu">
                                        <div class="dropdown-item"><span>Berlin, Germany</span></div>
                                        <div class="dropdown-item"><span>Dallas, USA</span></div>
                                        <div class="dropdown-item"><span>Nuremberg, Germany</span></div>
                                        <div class="dropdown-item"><span>Munich, Germany</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="inverse">
                            <img src="images/icons/key.svg" class="svg" alt="...">
                            <span>wallet.dat</span>
                        </button>

                        <button type="button" v-on:click="settings">
                            <img src="images/icons/settings.svg" class="svg" alt="...">
                        </button>

                        <button type="button" class="notify" v-on:click="notify">
                            <img src="images/icons/notification.svg" class="svg" alt="...">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>