<header>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col navbar-home">
                <div class="navbar-home-link"><i class="icon icon-home"></i></div>
            </div>

            <div class="col navbar-user">
                <div class="row h-100 align-items-center">
                    <div class="col navbar-user-search">
                        <form>
                            <input type="search" class="form-control">
                        </form>
                    </div>

                    <div class="col-auto navbar-user-nav">
                        <a href="/" class="btn btn-secondary">Node</a>
                        <a href="/"><i class="icon icon-purse"></i></a>
                        <a href="/"><i class="icon icon-bag"></i></a>
                        <a href="/"><i class="icon icon-settings"></i></a>
                        <a href="/"><i class="icon icon-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>