<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Messanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="/module/socket.io.js"></script>
    <script src="/module/lib.js"></script>

    <!-- Vue -->
	<link href="assets/vue/app-room.vue" id="room" rel="import">
	<link href="assets/vue/app-area.vue" id="area" rel="import">
</head>
<body>
<div class="wrapper">
    <main>
        <div class="row" id="app">
            <div class="col side-left">
                <div class="search">
                    <div class="input-group">
                        <input type="text" class="form-control">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <button><i class="icon icon-create"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rooms">
                    <div class="overflow">
                        <app-room v-for="(value, key) in rooms" :key="key" :id="key" :messages="value.messages">
                            <img class="mr-3" :src="value.image">

                            <div class="media-body">
                                <div class="media-head row">
                                    <div class="col"><strong>{{ value.name | truncate(30) }}</strong></div>
                                    <div class="col-auto"><small>{{ value.time }}</small></div>
                                </div>
                    
                                <div class="media-content">
                                    <p>{{ value.lastmsg | truncate(50) }}</p>
                                </div>
                            </div>
                        </app-room>
                    </div>
                </div>
            </div>
    
            <div class="col side-right">
                <div class="empty" v-if="!target"><div class="content">Empty</div></div>
                <app-area v-else :data="rooms[target]"></app-area>
            </div>
        </div>
    </main>
</div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/avatar.js"></script>
<script src="assets/js/vue.min.js"></script>
<script src="assets/js/vue.ext.js"></script>
<script src="assets/js/vue.app.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>