.roomsSearchInput {
    font-size: 16px;
    width: 100%;
    padding: 10px 30px 10px 20px;
    border: 0;
    outline: none;
}

.roomsSearchWrapper {
    position: relative;
    margin:0;
    display: flex;
    border: 1px solid #ccc6;
}

.roomSearchClear {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    cursor: pointer;
    font-size: 24px;
}
.roomSearchAddRoomButton {
    border-radius: 0 !important;
    border: 0 !important;
    font-size: 20px !important;
    outline: none !important;
    width: 44px;
    text-align: center !important;
    padding: 0 !important;
    justify-content: center;
    box-shadow: none !important;
}
