.feeds
  flex-direction: column
  background: linear-gradient(#f1f2f6, #fafafc)
  padding: 35px 50px
  display: flex
  height: $layout-content-height
  width: 100%

  .header
    +flex(row, space-between, center)

    .title
      color: rgba(0,0,0, 0.9)
      letter-spacing: 0px
      font-weight: 500
      font-size: 30px

    .action
      background-color: #508dff
      +flex(row, center, center)
      border-radius: 20px
      cursor: pointer
      height: 40px
      width: 150px

      span
        text-transform: uppercase
        letter-spacing: 0
        font-size: 13px
        color: #ffffff
  
  .list
    flex-wrap: wrap
    display: flex
        