.settingsbar
  transition: all 0.4s ease
  background-color: #ffffff
  //min-height: 150px
  margin-left: $tray-width + 1px
  height: calc(100vh - (#{$status-bar-height} + 62px))
  width: 100%
  position: absolute
  top: $headerbar-height + 1px
  display: block
