.json-container {
    margin-top: 65px;
}

.json-container span {
    text-align: center;
}

.json-container > div {
    display: flex;
    align-items: center;
}

.json-container code {
    padding: 0;
}

.json-container pre {
    margin: 0;
    margin-left: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ced4da;
    margin: 10px 0;
}