
.chatControls {
    display: flex;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

.chatControlsInput {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
}

.chatControlsSubmit {
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    outline: none !important;
    border-radius: 0 !important;
    border-width: 0 1px 0 1px !important;
}

.chatControlsAttachButton {
    cursor: pointer;
    background: transparent;
    outline: none !important;
    border: 0 !important;
    border-radius: 0 !important;
}
