* {
	outline: none;
	box-sizing: border-box;
}

html, body {
	height: 100%
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas {
	/*width: 1300px !important;*/
	margin: 0 auto !important
}