:global {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.gameWrapper {
  border: 1px solid black;
}

.game_inactive {
  opacity: 0.3;
}
