<div class="container-fluid window d-none" id="settings">
    <div class="navigate">
        <ul class="nav justify-content-center">
            <li class="nav-item"><button type="button" class="btn btn-link active">General</button></li>
            <li class="nav-item"><button type="button" class="btn btn-link">Access</button></li>
            <li class="nav-item"><button type="button" class="btn btn-link">Network</button></li>
            <li class="nav-item"><button type="button" class="btn btn-link">Dev mode</button></li>
        </ul>
    </div>

    <div class="tab-category general">
        General
    </div>
</div>