.roomList {
    width: 250px;
    border-right: 2px solid #ccc6;
}

.roomListItem {
    border-bottom: 1px solid #ccc6;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.roomListItem.roomListItem_active {
    font-weight: bold;
}
